.product {
    width: 300px;
    height: 500px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    height: 268px;
    width: 268px;
    border-radius: 8px;
    margin-left: 18px;
}

.product-name {
    margin: 0, 14px;
}

.product-name {

    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0015em;
    text-align: left;
    margin-top: 7px;
}

.Cart-Button {
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    padding: 12px;
    font-size: 1.5em;
}

.Cart-Button:hover {
    background-color: orange;
}

.Icon-design {
    padding-left: 20px;
}