.header {
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;

}

.header a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 20px;
}

.header a:hover {
    color: orange;
}

.Button-Background {
    background-color: black;
}